data:
  git:
    name: '{{ promptStringOnce . "git.name" "What is your Git name" "Mauro José da Silva" }}'
    email: '{{ promptStringOnce . "git.email" "What is your Git email" "maurojs10@gmail.com" }}'
  ssh:
    keytype: ed25519
    keyfile: '{{ .chezmoi.homeDir }}/.ssh/id_ed25519'
    publickey: '{{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub'
    allowedSigners: '{{ .chezmoi.homeDir }}/.ssh/allowed_signers'
git:
  autoAdd: true
  autoCommit: true
  autoPush: true
interpreters:
  ps1:
    command: powershell
    args:
      - -NoLogo
      - -NoProfile

# Extra settings {{- if eq .chezmoi.os "windows" }}
cd:
  command: powershell
# End of extra settings {{- end }}
