data:
  git:
    name: {{ promptStringOnce . "git.name" "What's your Git name" }}
    email: {{ promptStringOnce . "git.email" "What's your Git email" }}
  gpg:
    keyid: {{ promptStringOnce . "gpg.keyid" "What's your GPG key ID" }}
  ssh:
    keytype: ed25519
    keyfile: {{ .chezmoi.homeDir }}/.ssh/id_ed25519
    publickey: {{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub
    allowedSigners: {{ .chezmoi.homeDir }}/allowed_signers
git:
  autoAdd: true
  autoCommit: true
  autoPush: true
