#!/bin/zsh

if ! command -v brew &> /dev/null; then
  echo -e "\n * * Install Homebrew * * \n"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

# shellcheck disable=SC2016
if ! grep -Fxq 'eval "$(/opt/homebrew/bin/brew shellenv)"' ~/.zprofile; then
  echo -e "\n * * Add Homebrew to shell configuration * * \n"
  echo >> ~/.zprofile
  echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> ~/.zprofile
fi

if [ ! -e '{{ .ssh.keyfile }}' ]; then
  echo -e "\n * * Generate SSH key * * \n"
  ssh-keygen -f '{{ .ssh.keyfile }}' -t '{{ .ssh.keytype }}' -C '{{ .chezmoi.username | lower }}@{{ .chezmoi.hostname | lower }}'
fi

if ! command -v git &> /dev/null; then
  echo -e "\n * * Install Git * * \n"
  brew install git
fi

if ! command -v micro &> /dev/null; then
  echo -e "\n * * Install micro * * \n"
  brew install micro
fi

if ! command -v code &> /dev/null; then
  echo -e "\n * * Install Visual Studio Code * * \n"
  brew install --cask visual-studio-code
fi

if [ ! -d "/Applications/Bitwarden.app" ]; then
  echo -e "\n * * Install Bitwarden Desktop * * \n"
  brew install --cask bitwarden
fi

if ! grep -q "SSH_AUTH_SOCK" ~/.zshrc; then
  echo -e "\n * * Configure SSH agent for Bitwarden * * \n"
  echo >> ~/.zshrc
  echo 'export SSH_AUTH_SOCK=$HOME/.bitwarden-ssh-agent.sock' >> ~/.zshrc
fi

if ! command -v gh &> /dev/null; then
  echo -e "\n * * Install GitHub CLI * * \n"
  brew install gh
fi

if ! gh auth status -h github.com &> /dev/null; then
  echo -e "\n * * Authenticate with GitHub * * \n"
  gh auth login -h github.com -p ssh --scopes "admin:public_key admin:ssh_signing_key gist read:org repo" --skip-ssh-key
fi

echo -e "\n * * Add SSH key to GitHub for authentication * * \n"
gh ssh-key add '{{ .ssh.publickey }}' --type authentication

echo -e "\n * * Add SSH key to GitHub for signing * * \n"
gh ssh-key add '{{ .ssh.publickey }}' --type signing

echo -e "\n * * Update allowed signers from GitHub * * \n"
GH_USER=$(gh api user --jq '.login')
gh api "users/$GH_USER/ssh_signing_keys" --paginate --jq '.[].key' > '{{ .ssh.allowedSigners }}'

if [ ! -e ~/source ]; then
  echo -e "\n * * Create folder for source code subfolders * * \n"
  mkdir -p ~/source
fi

if [ ! -e ~/source/repos ]; then
  echo -e "\n * * Create subfolder for source code repositories * * \n"
  mkdir -p ~/source/repos
fi

if ! command -v node &> /dev/null; then
  echo -e "\n * * Install Node.js * * \n"
  brew install node@22
fi

if [[ "$(npm config get ignore-scripts --global)" != "true" ]]; then
  echo -e "\n * * Configure NPM to Ignore Scripts * * \n"
  sudo npm config set ignore-scripts true --global
fi

exit 0
